body{
  font-family: 'Lato', sans-serif;
  background-color: #1a2225;
}
p{
  margin: 0 0;
}

table{
  margin: 0 auto;
  width: 100%
}

.site_wrapper {
  max-width: 1400px;
  margin: auto;
}

.blackpg{
  background-color: #1a2225;
  color: white;
}

.whitepg {
  background-color: white;
  color: black;
}

.container-fluid{
  padding: 0;
}

/* Header Section */
.navbar{
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;

}

.navbarlogoimg{
  height: 70px;
}



/* Title Section */

.titleimg{
  background-image: url("../images/image6.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  color: white;
}

.titletext{
  font-size: 2.8rem;
  line-height: 1.4;
  padding-bottom: 5%;
  text-shadow: 2px 2px 4px #000000;
}

.subhead_blurb {
  padding: 2rem 0;
  font-size: 1.4rem;
  text-shadow: 1px 1px 3px #000000;
  text-align: left;
  display: inline-block;
}

/* About Section */
#about{
  padding: 10% 20%;
  line-height: 1.8;
}

.aboutdiv{
  max-width: 1000px;
  margin: 0 auto 150px auto;
  text-align: left;
}

.aboutimgdiv{
  text-align: center;
}

.aboutimg{
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.description{
  font-size: 1.3rem;
  color: gray;
  font-family: 'Raleway', sans-serif;
}

a.btn {
  margin-top: 10px;
}

a.top_button {
  background-color: #3333;
}

/* Order Section */
#order{
  text-align: center;
  padding: 10% 15%;
}

.calltext{
  margin-bottom: 40px;
}

.order_button{
  font-size: 2.3rem;
  vertical-align: baseline;
  text-decoration: underline;
  margin-top: 10px;
}

.phone{
  color: #ff0059;
}

.orderfrom{
  color: gray;
}

.orderlogos{
  height: 55px;
  width: auto;
  margin: 20px 15px 5px 15px;
}

/* Menu Section */

#menu{
  text-align: center;
  color: white;
  background-image: url("../images/sushijholiday-faded.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10% 5%;
}

.menutitle{
  font-size: 3rem;
  line-height: 1.4;
  padding-bottom: 2%;
}


.menuimg{
  background-image: url("../images/image4.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .menumain{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
} */

.card{
  margin-bottom: 20px;
  background-color: #1a2225;
}

.item{
  text-align: left;
}

.price{
  text-align: right;
}

/* Footer Section */
#footer{
  line-height: 1.5;
  padding: 100px 10%;
  text-align: center;
}

.social-icon{
  color: #ff0059;
  font-size: 1.5rem;
  margin: 0 10px;
}

.footer-right{
  text-align: left;
}

.copyright{
  color: gray;
  font-size: 0.8rem;
  margin-top: 10px;
}

.Yunjae{
  font-weight: bold;
  color: white;
}

@media (min-width: 661px) {
  #header{
    position: fixed;
    z-index: 1;
  }


  .hours{
    margin: 0 auto 0 0;
  }

  .footer-right{
    padding-left: 5%;
  }

}

@media (max-width: 660px) {
  .navbarlogoimg{
    height: 60px;
  }
  #header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #1a2225;
    text-align: center;
  }

  .title {
    left: 30%;
    transform: translate(-20%, -48%);
  }

  .calltext{
    font-size: 2rem;
  }

  .orderfrom{
    font-size: 1.3rem;
  }
  .orderlogos{
    height: 60px;
  }
  /* .menuimg{
    min-height: 900px;
    height: 150vh;
  } */

  .footer-right{
    text-align: center;
    padding: 5% 0;
  }

}

@media (max-width: 1004px){
  .titletext{
    font-size: 2rem;
  }
  #about{
    text-align: center;
  }
  .abouttitle{
    font-size: 1.5rem;
    margin-top: 40px;
  }
  .description{
    font-size: 1rem;
    text-align: left;
  }

  /* .menuimg{
    min-height: 1200px;
  } */

  .aboutdiv{
    margin: 0 auto 50px auto;
  }

}
